.container {
    display: flex;   
    color: white;
    flex-direction: column;
}
.container .title 
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
   
  }
.movieDetail {
    display:none;
    
}
.content{
    font-size: 20px;
    padding: 15px;
}

.title{
 font-weight: lighter;
 padding: 10px;
 font-size: 20px;
 font-style: italic;
}
body { background-color: black
    ;
}

.header {
        background-image: url(https://steamuserimages-a.akamaihd.net/ugc/964234420710695250/0F18EBD7CB2323D63AE0BF1ACA7E97F38AD2EFCC/);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 280px;;
    background-position: bottom;
    background-position-y: -20vw ;
    
    
}    

.project_name {
    display: flex;
    justify-content: center;
    font-style: italic;
    background-color: azure;
}

form {
    display: flex;
    justify-content: center;
    justify-items: baseline;
    align-items: center;
}

.headercomment {
    display: flex;
    justify-content: center;
    background-color: azure;
}